### 1] Linear regression

In [66]:
### first import the pakages
import pandas as pd
import numpy as np

In [67]:
## import the data
datai= pd.read_csv("E:\\Insurance premium prediction\\Insurance Data.csv")

In [68]:
datai.head()
datai.shape

(1338, 7)

In [69]:
### Data cleaning

In [70]:
pd.isnull(datai).sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
expenses    0
dtype: int64

In [71]:
data_i=pd.get_dummies(datai)

In [72]:
data_i.head()

,age,bmi,children,expenses,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,19,27.9,0,16884.92,1,0,0,1,0,0,0,1
1,18,33.8,1,1725.55,0,1,1,0,0,0,1,0
2,28,33.0,3,4449.46,0,1,1,0,0,0,1,0
3,33,22.7,0,21984.47,0,1,1,0,0,1,0,0
4,32,28.9,0,3866.86,0,1,1,0,0,1,0,0

In [73]:
data_i.shape

(1338, 12)

In [75]:
### devide the data into features(X) and target(y)
X = data_i.drop('expenses',axis=1).values
y = data_i.expenses.values
print(X.shape)
print(y.shape)

(1338, 11)
(1338,)

In [78]:
### split the data into train and test set
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=18)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(1003, 11)
(335, 11)
(1003,)
(335,)

In [79]:
#Reshaping y_train & y_test the format (n_rows,1)

y_train = y_train.reshape(-1,1)
y_test=y_test.reshape(-1,1)


print(y_train.shape) #expected (309, 1)
print(y_test.shape)  #expected (133, 1)

(1003, 1)
(335, 1)

In [80]:
#### Modelling 
from sklearn.linear_model import LinearRegression

imodel=LinearRegression()

In [81]:
#### Fit the model
imodel.fit(X_train,y_train)

LinearRegression()

In [83]:
### Coefficient and Intercept
print("Coefficients/Weights : ", imodel.coef_)
print("_"*100)
print("Intercept : ",imodel.intercept_)

Coefficients/Weights :  [[   260.31798013    299.45443613    554.90912488    -65.09056498
      65.09056498 -11905.9455021   11905.9455021     566.70170476
      53.21487233   -313.72291676   -306.19366034]]
____________________________________________________________________________________________________
Intercept :  [259.90787518]

In [84]:
#### Make prediction
y_pred_test=imodel.predict(X_test)

In [86]:
#### Model evaluation
from sklearn.metrics import r2_score,accuracy_score,mean_squared_error
print(r2_score(y_test,y_pred_test))
print(mean_squared_error(y_test,y_pred_test))

0.7791232558647976
35452708.02699893